* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Karla;
}
.main {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 450px;
  top: 60px;

  background: #f5f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#fffad1, #deebf8);
}
.title {
  margin-top: 190px;
  color: #293264;
  font-size: 31.25px;
}
.button {
  position: absolute;
  width: 193px;
  height: 52px;
  left: 179px;
  top: 314px;

  background: #4d5b9e;
  border-radius: 15px;

  border-width: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #f5f7fb;
}
.p {
  font-size: 16px;
  color: #293264;
  margin-top: -5px;
}
